* {
  box-sizing: border-box;
}
/*includes padding and border into box's (total) width and height*/
body {
  font-family: 'Roboto', sans-serif;
}
.header nav {
  z-index: 1; /*Choice of: -1, 0, 1*/
  margin: 20px 0 0 0;
  border-radius: 32px;
  background-color: white;
  text-align: center;
  position: fixed;
  left: 20%;
  right: 20%;
  border: 1px solid blue;
}
/*specifies the information for the navigation bar*/
.header nav a {
  display: inline-block;
  padding: 25px;
}
/*specifies the information for the anchors in the nav bar*/
.header nav img {
  max-width: 5%;
  height: auto;
  vertical-align: middle;
}
.section_info {
  text-align: center;
  padding: 15%;
  background-color: #3768ed;
  color: white;
}
.section_about {
  text-align: center;
  padding: 5%;
}
